@model SV18T1021193.Web.Models.SupplierPaginationResult
@{
    Layout = null;
}

<p style="margin-top:auto">
    Có <strong>@Model.RowCount</strong> nhà cung cấp trong tổng số <strong>@Model.PageCount</strong> trang.
</p>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr class="bg-primary">
                <th>Tên nhà cung cấp</th>
                <th>Tên giao dịch</th>
                <th>Địa chỉ</th>
                <th>Quốc gia</th>
                <th>Thành phố</th>
                <th>Mã bưu chính</th>
                <th>Điện thoại</th>
                <th style="width:120px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.SupplierName</td>
                    <td>@item.ContactName</td>
                    <td>@item.Address</td>
                    <td>@item.Country</td>
                    <td>@item.City</td>
                    <td>@item.PostalCode</td>
                    <td>@item.Phone</td>
                    <td class="text-right">
                        <a href="~/supplier/edit/@item.SupplierID"
                           class="btn btn-xs btn-info">
                            <i class="fa fa-edit"></i>Sửa
                        </a>
                        <a href="~/supplier/delete/@item.SupplierID"
                           class="btn btn-xs btn-danger">
                            <i class="fa fa-trash"></i>Xóa
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
<div class="text-center">
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active"><a href="~/supplier?page=@i&searchValue=@Model.SearchValue">@Model.Page</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
            }
        }
    </ul>
</div>
