@model SV18T1021193.Web.Models.ShipperPaginationResult
@{
    Layout = null;
}

<p style="margin-top:auto">
    Có <strong>@Model.RowCount</strong> người giao hàng trong tổng số <strong>@Model.PageCount</strong> trang.
</p>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr class="bg-primary">
                <th>Tên</th>
                <th>Số điện thoại</th>
                <th style="width:120px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.ShipperName</td>
                    <td>@item.Phone</td>
                    <td class="text-right">
                        <a href="~/shipper/edit/@item.ShipperID"
                           class="btn btn-xs btn-info">
                            <i class="fa fa-edit"></i>Sửa
                        </a>
                        <a href="~/shipper/delete/@item.ShipperID"
                           class="btn btn-xs btn-danger">
                            <i class="fa fa-trash"></i>Xóa
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@if (Model.PageCount != 1)
{
    <div class="box-footer">
        <div class="text-center">
            <ul class="pagination">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    if (i == Model.Page)
                    {
                        <li class="active"><a href="~/shipper?page=@i&searchValue=@Model.SearchValue">@Model.Page</a></li>
                    }
                    else
                    {
                        <li><a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
                    }
                }
            </ul>
        </div>
    </div>
}
